<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p><strong>IoT Project</strong> by <a href="https://danielgynn.com">Daniel Gynn</a>.</p>
    </div>
  </div>
</footer>
