<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>IoT Project</strong> by <a href="http://jgthms.com">Daniel Gynn</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </div>
</footer>
