<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
      DJG44 IoT Project
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
  <div class="nav-right nav-menu">
    {{#if user}}
      <a class="nav-item" href="/visuals">Visualisations</a>
      <span class="nav-item">
      <a class="button" href="/logout">
        <span class="icon">
          <i class="fa fa-sign-out"></i>
        </span>
        <span>Logout</span>
      </a>
    </span>
    {{else}}
    <span class="nav-item">
      <a class="button" href="/login">
        <span class="icon">
          <i class="fa fa-sign-in"></i>
        </span>
        <span>Login</span>
      </a>
      <a class="button is-primary" href="/signup">
        <span class="icon">
          <i class="fa fa-user-plus"></i>
        </span>
        <span>Signup</span>
      </a>
    </span>
    {{/if}}
  </div>
</nav>
