<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{heading}}
      </h1>
      <h2 class="subtitle">
        The visualisations are displayed as a <a href="/bar">Bar Graph</a> and <a href="/line">Line Graph</a>.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>MQTT Websockets is hosted at <strong>{{ws}}</strong>.</p>
    <p>Host: <strong>{{host}}</strong>.</p>
  </div>
</section>
