<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{heading}} <i class="fa fa-line-chart" aria-hidden="true"></i>
      </h1>
      <h2 class="subtitle">{{subheading}}</h2>
    </div>
    <div class="container">
      <canvas id="lineChart" width="300" height="100%"></canvas>
    </div>
  </div>
</section>

{{> linegraph}}
