<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{heading}}
      </h1>
      <h2 class="subtitle">{{subheading}}</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <canvas id="lineChart" width="300" height="100%"></canvas>
  </div>
</section>

{{> linegraph}}
