* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.wrapper {
  min-height: 85%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer {
  margin-top: 2rem;
  height: 4em;
}

.center-align {
  display: block;
  margin: 0 auto;
}
